{% extends 'blog/base.html' %}
{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-lg-12 offset-lg-2">
            <h3 class="my-5">Add New Post</h3>
            <form action="" method="POST" novalidate>
                {% csrf_token %}
                {% for i in form %}
                <div class="form-group mb-3">
                    <label for="{{ i.id_for_label }}" class="form-label">{{ i.label }}</label>
                    {{ i }}
                    {% if i.errors %}
                    <small class="text-danger">{{ i.errors }}</small>
                    {% endif %}
                </div>
                {% endfor %}
                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-primary">Add Post</button>
                    <a href="{% url 'dashboard' %}" class="btn btn-danger">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
