{% extends 'blog/base.html' %}
{% load static %}
{% block message %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-success" role="alert">
    {{message}}
</div>
{% endfor %}
{% endif %}
</div>
{% endblock message %}

{% block side %}
<div class=" text-center" >
<h3 class="my-5">Profile</h3>
<h4>{{full_name}}</h4>
{% for group in gps %}
    <p>{{group.name}}</p>
{% endfor %}
</div>


{% endblock side %}


{% block content %}
    <h1 class="fw-bold text-primary text-center mt-5 mb-4" style="font-size: xxx 0l;">Dashboard</h1>

    <a href="{% url 'addpost' %}" class="btn btn-warning btn-sm" style="margin-left: 90%;" >Add Post</a>
    <h4 class="text-center alert alert-info mt-3">
        Show Post Information
    </h4>
    {% if posts %}
    <table class="table table-hover table-striped bg-white shadow-sm rounded">
        <thead class="thead-dark">
            <tr class="text-center">
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
            <tr class="text-center align-middle">
                <th scope="row">{{ post.id }}</th>
                <td>{{ post.title }}</td>
                <td style="text-align: justify;">{{ post.content|truncatewords:110 }}</td>
                <td>
                    <!-- Action buttons -->
                    <a href="{% url 'edit' post.id %}" class="btn btn-warning btn-sm" data-toggle="tooltip" data-placement="top" title="Edit this post">
                        <i class="fas fa-edit"></i> Edit
                    </a>
                    {% if perms.blog.delete_Post %}
                    <form action="{% url 'delete' post.id %}" method="POST" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Delete this post">
                            <i class="fas fa-trash-alt"></i> Delete
                        </button>
                    </form>
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4" class="text-center text-muted">
                    No posts available.
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    
{% endblock content  %}