{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

<div class="col-sm-10">
    <h2 class="text-center my-5 ms-5">
        Login
    </h2>

    <form action="" method="POST" novalidate >
        {% csrf_token %}
        <!-- {{form.as_p}} -->
        {% for i in form %}
        <div class="form-group">
            <label for="{{i.id_for_label}}">{{i.label}}</label>
            {{i}} 
            <!-- {{i.errors}} -->
            <br>
            {% if i.errors %}
                <small style="color: red;">{{i.errors}}</small>
            {% endif %}
    {% endfor %}
        <button type="submit" class="btn btn-primary">Login</button>

    </form>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
</div>

{% endblock content %}